
.button-002 {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
    margin:0 auto;
    padding: .9em 2em;
    border: none;
    border-radius: 5px;
    background-color: #f8f9f9;
    color: #090909;
    font-weight: 600;
    font-size: 1em;
}

.button-002:hover {
    background-color: #bfd9ec;
}